api/admin/admin.gen.go linguist-generated=true
api/admin/openapi.json linguist-generated=true
api/admin/openapi.upstream.json linguist-vendored=true
docs/** linguist-generated=true
* text=auto eol=lf
